/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
}
.middle {padding: 0 auto; margin: 0 auto;}
.container-title h1 { color:  #fff;-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=108, Color=#584c26)";/*IE 8*/
text-shadow: 3px 1px 3px #584c26;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=108, Color=#584c26); /*IE 5.5-7*/font-size: 45px;padding:55px 0px 40px;font-family: 'Roboto', sans-serif; font-weight: 700;}


/*-------------------- Profile --------------------*/

.headerbg {background-image: url(../img/bg.png); height: auto; width: 100%; background-repeat: repeat;}
@media (min-width: 1200px) {
	.headerbg {background-image: url(../img/type.png); height: 100%; width: 100%; background-repeat: repeat;}
}
.profile-img img {margin:0 auto; padding:0 auto; display: block; padding-top: 30px; }
.profile-contain {padding: 40px 90px;}

h2.header-title,
h3.header-description {font-family: 'Roboto', sans-serif; font-weight: 100; }

h2.header-title {font-size: 2.750em; color: #a8a7a7;}
h3.header-description {font-size: 1.875em; font-weight: 300;}
.header-title-mob {font-size: 18px; margin-bottom: 50px; color: #a8a7a7;}
.map {padding: 40px 0px 7px; font-size: 28px; color: #625858;}
.map-mob {font-size: 30px; padding-bottom: 10px; color: #625858;}
.location {color: #939393;}
.txt-button {border: 1px solid #686767; margin-top: 100px; margin-bottom: 60px; padding-top: 11px;color: #686767;}
.txt-button:hover {background-color: #fff; border:0px; color: #000; }
 
 

/*-------------------- About Me --------------------*/

.aboutme-contain {background-color:#fbdb6c; width: 100%;height:60%;}
.border-line {background-image: url(../img/wave.png); background-repeat: repeat-x;margin-bottom:-20px;position:relative;}
.aboutme-intro {font-size: 17px;letter-spacing: 2px;font-family: 'Roboto', sans-serif;font-weight: 310; padding-bottom: 50px;}

.circle1 {-moz-border-radius: 70%; -webkit-border-radius: 70%; border-radius: 70%;width:140px;height:140px;background-color:#fff;border:8px solid;border-color: #0639A0 #0639A0 #0639A0 #FBDB6C;}
.circle1:hover {background-color:#B3CBFC;color:#000;font-weight: bold;border:8px solid;border-color: #F9E49E #0639A0 #0639A0 #0639A0;}

@media (min-width: 1280px){
	.aboutme-contain {background-color:#fbdb6c; width: 100%;height:60%;background-image: url(../img/book.png);background-position:-4% 100%;background-repeat: no-repeat;}
}

@media (min-width: 1280px) and (max-width: 1580px){
		.circle1 {border-color: #0639A0 #0639A0 #0639A0 #FAE49F;}
}

 
.circle2 {-moz-border-radius: 70%; -webkit-border-radius: 70%; border-radius: 70%;width:140px;height:140px;background-color:#fff;border:8px solid;border-color: #36C605 #36C605 #36C605 #FBDB6C;}
.circle2:hover {background-color: #A7FF87;color: #000;font-weight: bold; border-color: #FBDB6C #36C605 #36C605 #36C605;}


.circle3 {-moz-border-radius: 70%; -webkit-border-radius: 70%; border-radius: 70%;width:140px;height:140px;background-color:#fff;border:8px solid;border-color: #C6051F #C6051F #FBDB6C #FBDB6C;}
.circle3:hover {background-color: #FFA3AF;color:#000;font-weight: bold;border-color: #FBDB6C #FBDB6C #C6051F #C6051F;}


.circle4 {-moz-border-radius: 70%; -webkit-border-radius: 70%; border-radius: 70%;width:140px;height:140px;background-color:#fff;
	border:8px solid;border-color: #7C0266 #7C0266 #7C0266 #FBDB6C;}
.circle4:hover {background-color: #CE9FC5;color:#000;font-weight: bold;border-color: #FBDB6C #7C0266 #7C0266 #7C0266;}


.circle1:hover,
.circle2:hover,
.circle3:hover,
.circle4:hover {-webkit-transition: all 0.7s ease;/* Safari 3.2+, Chrome */
	-moz-transition: all 0.4s ease;/* Firefox 4-15 */
	-o-transition: all 0.4s ease;/* Opera 10.5-12.00 */
	transition: all 0.4s ease;/* Firefox 16+, Opera 12.50+ */
	-moz-transform: rotate(89deg) scale(1, 1) skewX(0deg) skewY(0deg) translate(0px, 0px);/* FF3.5+ */
	-webkit-transform: rotate(40deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);/*Saf3.1+, Chrome*/
	-o-transform: rotate(40deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);/* Opera 10.5 */
	-ms-transform: rotate(40deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);/* IE 9 */
	transform: rotate(40deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);}

.circle1,
.circle2,
.circle3,
.circle4 {-webkit-transition: all 0.3s ease;/* Safari 3.2+, Chrome */
	-moz-transition: all 0.3s ease;/* Firefox 4-15 */
	-o-transition: all 0.3s ease;/* Opera 10.5-12.00 */
	transition: all 0.3s ease;/* Firefox 16+, Opera 12.50+ */}


.circle1 p,
.circle2 p,.circle3 p {position:absolute;margin-left:42px;margin-top:53px;font-size: 16px;}
.circle4 p {position: absolute;margin-left: 15px;margin-top: 53px;font-size: 16px;}



/*-------------------- Project --------------------*/

.project-contain {background-image:url(../img/project_bg.jpg);background-repeat: repeat; width:100%;height: auto;}
.white {color: #fff;}
.project-small-title {display: inline;margin-left:12px; font-size: 20px;}
.project {padding-top:40px;}
.pro-img {padding-bottom: 25px;}
.pro-img img {position: relative;box-shadow:2px 2px 5px 2px rgba(0, 0, 0, 0.5);}

.pro-caption {position:absolute;top:196px;padding:10px;text-align:center;width:270px;background-color: #fff;visibility: hidden;-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=112, Color=#252525)";/*IE 8*/
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color=#333333)";/*IE 8*/
-moz-box-shadow: 0px 0px 4px #333333;/*FF 3.5+*/
-webkit-box-shadow: 0px 0px 4px #333333;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
box-shadow: 0px 0px 4px #333333;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color=#333333); /*IE 5.5-7*/
-webkit-transition: all 0.5s ease;/* Safari 3.2+, Chrome */
-moz-transition: all 0.5s ease;/* Firefox 4-15 */
-o-transition: all 0.5s ease;/* Opera 10.5-12.00 */
transition: all 0.5s ease;/* Firefox 16+, Opera 12.50+ */ }

.pro-caption-border1 {border-bottom:7px solid #00caca;}
.pro-caption-border2 {border-bottom:7px solid #7db001;}
.pro-caption-border3 {border-bottom:7px solid #5c4ea4;}
.pro-caption-border4 {border-bottom:7px solid #841702;}

.pro-img:hover .pro-caption {visibility: visible; position:absolute;top: 272px;}
.border-line2 {background-image: url(../img/wave-black.png); background-repeat: repeat-x;margin-top:-9px;margin-bottom:-10px;position:relative;}


/*-------------------- Graphic --------------------*/

.graphic-contain {background-color: #6bb9f0;width: 100%;height:auto;}
.title-space {padding:55px 0px;}

.play-ico1 {color:#a50004;
-moz-transform: rotate(-90deg) scale(1, 1) skewX(0deg) skewY(0deg) translate(0px, 0px);/* FF3.5+ */
-webkit-transform: rotate(-90deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);/*Saf3.1+, Chrome*/
-o-transform: rotate(-90deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);/* Opera 10.5 */
-ms-transform: rotate(-90deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);/* IE 9 */
transform: rotate(-90deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);
}
.play-ico2 {color:#db1d79; 
-moz-transform: rotate(180deg) scale(1, 1) skewX(0deg) skewY(0deg) translate(0px, 0px);/* FF3.5+ */
-webkit-transform: rotate(180deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);/*Saf3.1+, Chrome*/
-o-transform: rotate(180deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);/* Opera 10.5 */
-ms-transform: rotate(180deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);/* IE 9 */
transform: rotate(180deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);}

.play-ico3 {color: #1f0ef9;
-moz-transform: rotate(180deg) scale(1, 1) skewX(0deg) skewY(0deg) translate(0px, 0px);/* FF3.5+ */
-webkit-transform: rotate(180deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);/*Saf3.1+, Chrome*/
-o-transform: rotate(180deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);/* Opera 10.5 */
-ms-transform: rotate(180deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);/* IE 9 */
transform: rotate(180deg) scale(1, 1) skew(0deg, 0deg) translate(0px, 0px);}

.play-ico4 {color: #f9690e;}

.play-ico1,
.play-ico2,
.play-ico3,
.play-ico4 {font-size: 18px;vertical-align: text-bottom;}

.play-ico2-text {margin-top:37px;}
.play-ico3-text {margin-top:77px;}
.graphic-inline {display: inline;}



/*-------------------- Contact Us --------------------*/

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
@-webkit-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
.cloud {background-image: url(../img/cloud.png);background-repeat: repeat-x;margin-top:-141px;position:relative;height: 140px;animation: animatedBackground 60s linear infinite; -webkit-animation: animatedBackground 60s linear infinite;}
.contact-contain {background-color:#fff; width: 100%; height: auto; background-image: url(../img/building.jpg);background-repeat: repeat-x;background-position:5% 100%}
.contact-title {font-family: 'Roboto', sans-serif; font-weight: 700;font-size: 3.333em;padding-top: 60px;}


/* SidebarMenu */

.menu-icon {border:1px solid #727272;}
.menu-icon-2 {background-color: #000;}

#sidebar-wrapper {z-index: 1000; position: fixed; right: 0;width: 250px; height: 100%; margin-right: -250px; overflow-y: auto; background:rgba(34,34,34,0.8); -webkit-transition: all 0.4s ease 0s;-moz-transition: all 0.4s ease 0s;-ms-transition: all 0.4s ease 0s;-o-transition: all 0.4s ease 0s;transition: all 0.4s ease 0s;}

.sidebar-nav {position: absolute;top: 0;width: 250px; margin: 0; padding: 0; list-style: none;}
.sidebar-nav li {text-indent: 20px;line-height: 40px;}
.sidebar-nav li a {display: block;text-decoration: none;color: #BFBFBF;}
.sidebar-nav li a:hover {text-decoration: none; color: #fff;background: rgba(255,255,255,0.2);}
.sidebar-nav li a:active,
.sidebar-nav li a:focus { text-decoration: none;}
.sidebar-nav > .sidebar-brand span{height: 55px; font-size: 14px;color: #ECF99D;line-height: 55px;}
.sidebar-nav > .sidebar-brand a { color: #999;}
.sidebar-nav > .sidebar-brand a:hover {color: #fff;background: none;}
#menu-toggle {z-index: 1; position: fixed;top: 0;right: 0;}
#sidebar-wrapper.active {right: 250px; width: 250px; -webkit-transition: all 0.4s ease 0s; -moz-transition: all 0.4s ease 0s; -ms-transition: all 0.4s ease 0s; -o-transition: all 0.4s ease 0s; transition: all 0.4s ease 0s; }
.toggle {margin: 5px 5px 0 0; }
 



.t1{background-color: red;}
.t2{background-color: green;}
.t3{background-color: purple;}


 





