html,
body {
  height: 100%;
  
}
 

/*Helper*/
.middle {margin:0 auto; padding: 0 auto;}

/*Navigation*/
ul#menu li a {outline:none;}
a {outline: none;}



/*Font Color*/
.white {color:#ffffff;}



/*Intro*/
 
.site_wrapper {
  display: table;
  width: 100%;
  height: 100vh; 
  min-height: 100vh;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.1);
          box-shadow: inset 0 0 100px rgba(0,0,0,.1);
  background-image: -ms-radial-gradient(center, circle closest-corner, #F22630 0%, #6D0316 100%);
  background-image: -moz-radial-gradient(center, circle closest-corner, #F22630 0%, #6D0316 100%);
  background-image: -o-radial-gradient(center, circle closest-corner, #F22630 0%, #6D0316 100%);
  background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #F22630), color-stop(1, #6D0316));
  background-image: -webkit-radial-gradient(center, circle closest-corner, #F22630 0%, #6D0316 100%);
  background-image: radial-gradient(circle closest-corner at center, #F22630 0%, #6D0316 100%);
  overflow: hidden;

}

.nav_portfolio {background-color:#222222;border-radius: 0px; border:0px;}
.nav_portfolio_ease {background-color:rgba(0, 0, 0, 0.7);}
.nav_portfolio .navbar-nav > li > a {color:#F6FFD3; text-align: center;}
.nav_portfolio .navbar-nav > li > a:hover, .nav_portfolio .navbar-nav > li > a:focus {color:#FF9BA2;outline: none;}
.nav_portfolio .navbar-nav > .active > a, .nav_portfolio .navbar-nav > .active > a:hover, .nav_portfolio .navbar-nav > .active > a:focus {background-color:transparent;color:#fff;font-weight: bold;outline: none;}


.site_wrapper_inner {display: table-cell; vertical-align: top;vertical-align: middle;}
.content_box_lg {margin-top:40px;}
.content_box {margin-top:30px;}
.light_bg {background-image:url('../img/light.png');background-position:92% -90% ;background-repeat: no-repeat;height:470px; 
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.light_bg h2 {font-family: 'Fredoka One', cursive;}

.intro_title_big {font-size: 52px;margin-top:-5px;}
.intro_title_big_mob {font-size: 35px;margin-top:-5px;}

.intro_title_small{font-size: 20px; margin-left:170px;}
.intro_title_small_mob {font-size: 17px; margin-left: 155px;}


.intro_title_big_ph {font-size: 28px;margin-top: -5px;}
.intro_title_small_ph {font-size: 17px;}


.intro_post, .intro_post_ph {color:#dddddd;}
.intro_post_ph {font-size: 13px;}


/*About Me*/
.aboutme_section {height:auto;padding-bottom: 120px;}
.aboutme_title {color: #d61435; padding-top: 82px; padding-bottom: 53px;font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 55px;}
.aboutme_title_mob {color: #d61435; padding-top: 50px; padding-bottom: 33px;font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 38px;}
.aboutme_txt {line-height: 25px; color: #555354; font-size:15px;margin-bottom:40px;margin-top: 6px;}
.skill_title {color: #FF5252; margin-bottom: 0px; font-family: 'Roboto', sans-serif; font-weight: 300;}
.skill_title_underline {margin-top:12px;}

.progress_txt {font-size: 14px; color:#fff;}
.progress-bar-js {background-color: #f2c300;}
.progress-bar-ps {background-color: #ff6d0c;}
.progress-bar-graphic {background-color: #14b0ad;}
.progress-bar-responsive {background-color: #009df3;}


/*My Create*/ 

.my_creation{background-color:#F22630;height:auto;}
.heart_img {padding:0 auto; margin:0 auto; display:block; padding:40px 2px 8px 2px;background-color:#fede5e; border-bottom:5px solid #9E0C0C;}
.my_create_text {color:#fff;font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 28px;}
.my_create_img {margin:0 auto;padding:0 auto;margin-top:52px; margin-bottom:12px;width:100px; height:61px;}
.my_create_subtext {color:#FEDE5E;border-top:1px dashed #b6b9b5; padding-top:12px;}
.my_create_box {padding-bottom: 40px;}
.my_create_box:hover{background-color:#E50D0D;padding-bottom: 40px; -webkit-transition: all 0.6s ease-in;/* Safari 3.2+, Chrome */
	-moz-transition: all 0.6s ease-in;/* Firefox 4-15 */
	-o-transition: all 0.6s ease-in;/* Opera 10.5-12.00 */
	transition: all 0.6s ease-in;/* Firefox 16+, Opera 12.50+ */}
.my_create_box:hover > .my_create_subtext {color: #fff;}
	
	
	
	
/*Project*/
.project_section {height:auto; background-color:#FFF;}
.project_title {color: #d61435;text-align: center; padding-top: 20px; padding-bottom: 55px;font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 55px;}
.project_title_mob {color: #d61435;text-align: center; padding-top: 20px; padding-bottom: 55px;font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 38px;}
.project_bg {background-color:#F2F2F2; padding-bottom:32px;}

#menu {overflow: hidden;}
#menu > li {margin-top:50px; padding:10px 25px; border:1px solid #ffffff;width:auto;}
#menu_contain_box {background-color:yellow;position: relative;}
.box{display: none; position: absolute; top:0; left:0; background: #000;width:100%;}
.box:target, .box:first-child{ display: block;}

.project_tabs {margin-top:65px; margin-bottom:80px;}
.project_tab_ul {border-bottom:none;}
.project_tab_ul li a {border-radius: 0px; color:#232B2D;}
.project_tab_ul > li {margin-right: 12px; padding-bottom: 12px;}
.project_tab_ul li.active > a {background-color:transparent; border:3px solid #232B2D;outline:none; color: #232B2D;}
.project_tab_ul li.active > a:hover,
.project_tab_ul li > a:hover ,
.project_tab_ul li.active > a:focus ,
.project_tab_ul li:hover {background-color: transparent; outline: none; color:#232B2D;}
.tab-content {padding-top:20px;}
.project_img {margin-bottom: 17px; background-color: #fff; padding:10px; box-shadow: 0 2px 0 #DBDBDB; z-index: 3;}

.carousel-control.left ,
.carousel-control.right{background-image:none;}
.project_indicators li {border:2px solid #FF8A2B;width:12px;height:12px;margin-right:3px;}
.project_indicators .active {width:14px; height:14px; background-color:#fff;}


/*Things*/
.things_title {color:#d61435;font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 35px; margin-top: 10px;}
.things_container {height:auto;padding-top: 30px; padding-bottom: 35px;}
.things_box {border-right:1px solid #E5E5E5;}



/*Contact*/
.contact_title {color:#FFF;text-align: center;font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 38px;margin-top:50px;margin-bottom:64px;}
.contact_section {background-color: #242426; height: 330px;}
.social_mail {border-radius:50%; border: 1px solid #E07F7D; width:100px; height:100px;}
.social_linkedin {border-radius:50%; border: 1px solid #44B5ED; width:100px; height:100px;}
.social_facebook {border-radius:50%; border: 1px solid #7B9FE5; width:100px; height:100px;}


.social_icon:hover {opacity: 1;-webkit-transition: all 1s ease;/* Safari 3.2+, Chrome */
  -moz-transition: all 1s ease;/* Firefox 4-15 */
  -o-transition: all 1s ease;/* Opera 10.5-12.00 */
  transition: all 1s ease;/* Firefox 16+, Opera 12.50+ */
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color=#ffffff)";/*IE 8*/
-moz-box-shadow: 0px 0px 3px #ffffff;/*FF 3.5+*/
-webkit-box-shadow: 0px 0px 3px #ffffff;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
box-shadow: 0px 0px 3px #ffffff;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color=#ffffff); /*IE 5.5-7*/
}

.social_circle {border-radius: 50%; width: 100px; height: 100px; border: 1px solid #BFBFBF; z-index: 3; position: absolute; opacity: 0;}
 


